<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
        />

        <link rel="stylesheet" href="../../public/css/style.css" />

        <title>Social Media</title>
    </head>

    <body id="body-pd" class="body-pd">
        <header class="header body-pd" id="header">
            <div class="header__toggle">
                <i class="bx bx-menu" id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="" alt="" />
            </div>
        </header>

        <div class="l-navbar show" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class="bx bx-layer nav__logo-icon"></i>
                        <span class="nav__logo-name">Dept Management</span>
                    </a>

                    <div class="nav__list">
                        <a href="#" class="nav__link">
                            <i class="bx bx-grid-alt nav__icon"></i>
                            <span class="nav__name">Dept Management</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="bx bx-user nav__icon"></i>
                            <span class="nav__name">Team Management</span>
                        </a>
                        <a href="#" class="nav__link">
                            <i class="bx bx-bookmark nav__icon"></i>
                            <span class="nav__name">Staff Management</span>
                        </a>
                    </div>
                </div>

                <a href="login.html" class="nav__link">
                    <i class="bx bx-log-out nav__icon"></i>
                    <span class="nav__name">Đăng xuất</span>
                </a>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="profile-container">
                <div class="row profile">

                    <div class="col-md-5 mt-4">
                        <aside class="sidebar static">
                            <div class="widget">
                                <h4 class="widget-title">THÔNG BÁO MỚI NHẤT</h4>
                                <ul class="activitiez">
                                    {{#if noties}}
                                    {{#each noties}}
                                    <li>
                                        <div class="activity-meta">
                                            <span class="acti-room">{{this._doc.room}}</span>
                                            <br>
                                            <span class="acti-room">{{formatDate this._doc.createAt}}</span>
                                            <a href="/notification/noti/{{this._doc._id}}">
                                                <h6>{{this._doc.title}}</h6>
                                            </a>
                                        </div>
                                    </li>
                                    {{/each}}
                                    {{/if}}
                                </ul>
                            </div>
                            <!-- recent activites -->
                        </aside>
                    </div>
                    <input type="text" id="page" hidden>
                    <div class="col-md-7">
                        <div class="profile-post">
                            <div class="newpst-input">
                                <form method="POST" enctype="multipart/form-data">
                                    <div>
                                        <textarea id="content" name="content" rows="2" placeholder="write something"></textarea>
                                    </div>
                                    <div class="input-group inputYoutube">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i name="link"
                                                    class="fab fa-youtube btnLinkYoutube"></i></span>
                                        </div>
                                        <input id="linkYoutube" type="text" class="form-control" placeholder="Link Youtube"
                                            aria-label="Link Youtube">
                                    </div>
                                    <div class="picture-review-div">
                                        <img id="picture-review" class="pt-3" src="" alt="">
                                    </div>
                                    <div class="attachments">
                                        <ul>
                                            <li>
                                                <i class="fas fa-image">
                                                    <label class="fileContainer">
                                                        <input name="file" type="file" id="inputFile" multiple>
                                                    </label>
                                                </i>

                                            </li>
                                            <li>
                                                <i name="link" class="fab fa-youtube btnYoutube"></i>
                                            </li>
                                            <li>
                                                <button type="submit" id="btnCreatePost">Post</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="profile-content">
                            <div class="loadMore">

                                <div class="central-meta item" id="new-post">
                                    <div class="user-post">
                                        <div class="friend-info">
                                            <figure>
                                                <img id="new-post-avatar" src="{{currentUser.image}}" alt="">
                                            </figure>
                                            <div class="friend-name">
                                                <div>
                                                    <a id="current-user-id" href="/users/profile/{{currentUser._id}}"><ins id="new-post-name">{{currentUser.name}}</ins> </a>
                                                    <span>Vừa xong</span>
                                                </div>

                                                {{!-- <div class="icon-setting">
                                                    <a class="link"><i class="fas fa-wrench"></i></a>
                                                </div> --}}
                                            </div>

                                            <div class="post-meta">
                                                <div class="description">
                                                    <p id="new-post-content">
                                                        NỘI DUNG BÀI VIẾT
                                                    </p>
                                                </div>
                                                <img id="new-post-image" src="{{currentUser.image}}" alt="">
                                            </div>
                                        </div>
                                        <div class="coment-area">
                                            <ul class="we-comet">
                                                <li class="post-comment">
                                                    <div class="comet-avatar">
                                                        <img src="{{currentUser.image}}" alt="">
                                                    </div>
                                                    <div class="post-comt-box">
                                                        <form method="post">
                                                            <textarea placeholder="Post your comment"></textarea>
                                                            <div class="add-smiles">
                                                                <span class="em em-expressionless" title="add icon"></span>
                                                            </div>
                                                            <button class="btn btn-default" type="submit">Bình luận</button>
                                                        </form>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                {{#if posts}}
                                {{#each posts}}
                                <div class="central-meta item" id="{{this._id}}">
                                    <div class="user-post">
                                        <div class="friend-info">
                                            <figure>
                                                <img src="{{this.user.image}}" alt="">
                                            </figure>
                                            <div class="friend-name">
                                                <div>
                                                    <a href="/users/profile/{{this.user._id}}"><ins>{{this.user.name}}</ins></a>
                                                    <span>{{formatDate this.createAt }}</span>
                                                </div>

                                                {{#equal this.user._id ../currentUser._id}}
                                                <div class="icon-setting">
                                                    <a class="link"><i data-id="{{this._id}}" data-content="{{this.content}}" {{#if
                                                            this.file}} data-file="{{this.file}}" {{/if}} {{#if this.linkYoutube}}
                                                            data-linkyoutube="{{this.linkYoutube}}" {{/if}}
                                                            class="fas fa-wrench btnEditPost"></i></a>
                                                    <a class="link ml-1"><i class="fas fa-trash-alt btnDeletePost"
                                                            data-id="{{this._id}}"></i></a>
                                                </div>

                                                {{/equal}}

                                            </div>

                                            <div class="post-meta">
                                                <div class="description">
                                                    <p>
                                                        {{this.content}}
                                                    </p>
                                                </div>

                                                {{#if this.file}}
                                                <img src="{{this.file}}" alt="">
                                                {{/if}}
                                                {{#if this.linkYoutube}}
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/{{this.linkYoutube}}"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>

                                                {{/if}}

                                            </div>
                                        </div>
                                        <div class="coment-area">
                                            <ul class="we-comet">
                                                <li>
                                                    <a data-id="{{this._id}}" title="" class="showmore underline btnMoreCmt">more
                                                        comments</a>
                                                </li>
                                                {{#if this.comments}}
                                                {{#each this.comments}}
                                                <li class="cmtItem" style="display: none;" id="{{this._id}}">
                                                    <div class="comet-avatar">
                                                        <img src="{{this.friend._doc.image}}" alt="">
                                                    </div>
                                                    <div class="we-comment">
                                                        <div class="coment-head">
                                                            <h5><a href="/users/profile/{{this.friend._id}}" title="">{{this.friend._doc.name}}</a></h5>
                                                            <span>{{formatDate this.createAt}}</span>

                                                            {{#equal this.friend._doc._id ../../currentUser._id }}
                                                            <i class="fas fa-trash-alt we-reply btnDeleteComment"
                                                                    data-id="{{this._id}}" data-idpost="{{../this._id}}"></i>
                                                            {{/equal}}
                                                        </div>
                                                        <p>{{this.body}}</p>
                                                    </div>
                                                </li>
                                                {{/each}}
                                                {{/if}}
                                                <li class="post-comment">
                                                    <div class="comet-avatar">
                                                        <img src="{{../currentUser.image}}" alt="">
                                                    </div>
                                                    <div class="post-comt-box">
                                                        <textarea placeholder="Post your comment"></textarea>
                                                        <i data-id="{{this._id}}"
                                                            class="fas fa-paper-plane btn btn-default btnAddComment"></i>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <!-- sidebar -->
                </div>
            </div>
            <center>
                <strong>Powered by </strong>
            </center>


            <!-- edit post modal -->
            <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <input type="hidden" id="idUser" name="idUser">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <div class="profile-post">
                                <div class="newpst-input">

                                    <div>
                                        <textarea id="contentModal" name="contentModal" rows="2"></textarea>
                                    </div>
                                    <div class="input-group inputYoutubeModal">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1"><i name="link"
                                                    class="fab fa-youtube btnLinkYoutube"></i></span>
                                        </div>
                                        <input id="linkYoutubeModal" type="text" class="form-control" placeholder="Link Youtube"
                                            aria-label="Link Youtube">
                                    </div>
                                    <div class="picture-review-div-modal">
                                        <img id="picture-review-modal" class="pt-3" src="" alt="">
                                    </div>
                                    <div class="attachments">
                                        <ul>
                                            <li>
                                                <i class="fas fa-image">
                                                    <label class="fileContainer">
                                                        <input type="file" id="inputFileModal" multiple>
                                                    </label>
                                                </i>

                                            </li>
                                            <li>
                                                <i name="link" class="fab fa-youtube btnYoutubeModal"></i>
                                            </li>
                                            <li>
                                                <button class="btnSaveChangePost">Save</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous"
        ></script>

        <script src="../../public/js/main.js"></script>
    </body>
</html>
