<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
        />

        <link rel="stylesheet" href="../../public/css/style.css" />

        <title>Social Media</title>
    </head>

    <body id="body-pd" class="body-pd">
        <header class="header body-pd" id="header">
            <div class="header__toggle">
                <i class="bx bx-menu" id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="" alt="" />
            </div>
        </header>

        <div class="l-navbar show" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class="bx bx-layer nav__logo-icon"></i>
                        <span class="nav__logo-name">Dept Management</span>
                    </a>

                    <div class="nav__list">
                        <a href="#" class="nav__link">
                            <i class="bx bx-grid-alt nav__icon"></i>
                            <span class="nav__name">Dept Management</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="bx bx-user nav__icon"></i>
                            <span class="nav__name">Team Management</span>
                        </a>
                        <a href="#" class="nav__link">
                            <i class="bx bx-bookmark nav__icon"></i>
                            <span class="nav__name">Staff Management</span>
                        </a>
                    </div>
                </div>

                <a href="login.html" class="nav__link">
                    <i class="bx bx-log-out nav__icon"></i>
                    <span class="nav__name">Đăng xuất</span>
                </a>
            </nav>
        </div>
        <div id="layoutSidenav_content">

    <main>
        <div class="container-fluid">
            <!--<h1 class="mt-4">Phân quyền</h1>-->
            {{#if errAdd}}
            <div class="alert alert-danger">
                <strong id="errAdd">{{errAdd}}</strong>
            </div>
            {{/if}}
            <div class="card mb-4 mt-3">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <button data-toggle="modal" data-target="#addModal" class="btn btn-link btn-sm order-0 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-plus"><a href=""></a></i>Thêm tài khoản</button>
                </div>
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i> Danh sách người dùng
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="text-center">
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th>Quyền</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody id="listUser">
                                <!--
                                        <tr>
                                            <td class="text-center"> <button type="button" class="btn btn-outline-primary btnEditUser" id=""><i class="fas fa-edit mr-2"></i>Edit</button> </td>
                                        </tr>
                                        -->
                                {{#if users}}
                                {{#each users}}

                                <tr>
                                    <td>{{this._doc.name}}</td>
                                    <td>{{this._doc.email}}</td>
                                    <td id="{{this._doc._id}}">
                                        <ul>
                                            {{#each this._doc.role}}
                                            <li>{{this}}</li>
                                            {{/each}}
                                        </ul>

                                    </td>
                                    <td class="text-center"> <button data-toggle="modal" data-target="#editModal" data-id="{{this._doc._id}}"
                                            data-role="{{this._doc.role}}" data-email="{{this._doc.email}}"
                                            data-name="{{this._doc.name}}" type="button"
                                            class="btn btn-outline-primary btnEditUser" id="editBtn"><i
                                                class="fas fa-edit mr-2 btnEditUser"></i>Edit</button> </td>
                                </tr>

                                {{/each}}
                                {{/if}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div style="height: 100vh;"></div>
            <div class="card mb-4">
                <div class="card-body">Coppy right TDTU 51800387-51800759</div>
            </div>
        </div>

        <!-- edit modal -->
        <div class="modal fade show" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <input type="hidden" id="idUser" name="idUser">
                    <div class="form-group">
                        <label>Tên:</label>
                        <input type="text" class="form-control" id="editName" name="editName" readonly>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="editEmail" name="editEmail" readonly>
                    </div>
                    <div class="form-group">
                        <label>Quyền:</label>
                        <select name="editRole" id="editRole" class="form-control" multiple>
                            <option id="AD" value="AD">Admin</option>
                            <option id="CTHSSV" value="CTHSSV">Phòng CTHSSV</option>
                            <option id="DH" value="DH">Phòng Đại học</option>
                            <option id="SDH" value="SDH">Phòng Sau Đại học</option>
                            <option id="DTVDM" value="DTVMT">Phòng Điện toán và máy tính</option>
                            <option id="KT" value="KT">Phòng Khảo thí và kiểm định</option>
                            <option id="TC" value="TC">Phòng tài chính</option>
                            <option id="CLC" value="CLC">TDT Creative Language Center</option>
                            <option id="TH" value="TH">Trung tâm tin học</option>
                            <option id="SDTC" value="SDTC">Trung tâm đào tạo và phát triển xã hội</option>
                            <option id="ATEM" value="ATEM">Trung tâm phát triển Khoa học quản lí và Ứng dụng công nghệ
                            </option>
                            <option id="CSV" value="CSV">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                            <option id="KL" value="KL">Khoa Luật</option>
                            <option id="NNTHVH" value="NNTHVH">Trung tâm ngoại ngữ-tin học-bồi dưỡng văn hóa</option>
                            <option id="KTKD" value="KTKD">Viện chính sách kinh tế và kinh doanh</option>
                            <option id="MTCN" value="MTCN">Khoa Mỹ thuật công nghiệp</option>
                            <option id="DDT" value="DDT">Khoa Điện-Điện tử</option>
                            <option id="CNTT" value="CNTT">Khoa Công nghệ thông tin</option>
                            <option id="QTKD" value="QTKD">Khoa Quản trị kinh doanh</option>
                            <option id="MT" value="MT">Khoa Môi trường và bảo hộ lao động</option>
                            <option id="LDCD" value="LDCD">Khoa Lao động công đoàn</option>
                            <option id="TCNH" value="TCNH">Khoa Tài chính ngân hàng</option>
                            <option id="GDQT" value="GDQT">Khoa Giáo dục quốc tế</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="editUser" name="editUser" class="btn btn-primary">Save changes</button>
                    </div>

            </div>
        </div>
    </div>
</div>

        <!-- add modal -->
    <div class="modal fade show" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" class="form-control" id="Name" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" id="Email" name="Email">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" class="form-control" id="Password" name="Password">
                    </div>
                    <div class="form-group">
                        <label>Quyền:</label>
                        <select name="Role" id="Role" class="form-control" multiple>
                            <option id="AD" value="AD">Admin</option>
                            <option id="CTHSSV" value="CTHSSV">Phòng CTHSSV</option>
                            <option id="DH" value="DH">Phòng Đại học</option>
                            <option id="SDH" value="SDH">Phòng Sau Đại học</option>
                            <option id="DTVDM" value="DTVMT">Phòng Điện toán và máy tính</option>
                            <option id="KT" value="KT">Phòng Khảo thí và kiểm định</option>
                            <option id="TC" value="TC">Phòng tài chính</option>
                            <option id="CLC" value="CLC">TDT Creative Language Center</option>
                            <option id="TH" value="TH">Trung tâm tin học</option>
                            <option id="SDTC" value="SDTC">Trung tâm đào tạo và phát triển xã hội</option>
                            <option id="ATEM" value="ATEM">Trung tâm phát triển Khoa học quản lí và Ứng dụng công nghệ
                            </option>
                            <option id="CSV" value="CSV">Trung tâm hợp tác doanh nghiệp và cựu sinh viên</option>
                            <option id="KL" value="KL">Khoa Luật</option>
                            <option id="NNTHVH" value="NNTHVH">Trung tâm ngoại ngữ-tin học-bồi dưỡng văn hóa</option>
                            <option id="KTKD" value="KTKD">Viện chính sách kinh tế và kinh doanh</option>
                            <option id="MTCN" value="MTCN">Khoa Mỹ thuật công nghiệp</option>
                            <option id="DDT" value="DDT">Khoa Điện-Điện tử</option>
                            <option id="CNTT" value="CNTT">Khoa Công nghệ thông tin</option>
                            <option id="QTKD" value="QTKD">Khoa Quản trị kinh doanh</option>
                            <option id="MT" value="MT">Khoa Môi trường và bảo hộ lao động</option>
                            <option id="LDCD" value="LDCD">Khoa Lao động công đoàn</option>
                            <option id="TCNH" value="TCNH">Khoa Tài chính ngân hàng</option>
                            <option id="GDQT" value="GDQT">Khoa Giáo dục quốc tế</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="addUserBtn" class="btn btn-primary">Save changes</button>
                    </div>

            </div>
        </div>
    </div>
    </main>



</div>
</div>

<script src="/public/js/main.js">
</script>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous"
        ></script>

        <script src="../../public/js/main.js"></script>
    </body>
</html>
