<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
        />

        <link rel="stylesheet" href="../../public/css/style.css" />

        <title>Social Media</title>
    </head>

    <body id="body-pd" class="body-pd">
        <header class="header body-pd" id="header">
            <div class="header__toggle">
                <i class="bx bx-menu" id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="" alt="" />
            </div>
        </header>

        <div class="l-navbar show" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class="bx bx-layer nav__logo-icon"></i>
                        <span class="nav__logo-name">Dept Management</span>
                    </a>

                    <div class="nav__list">
                        <a href="#" class="nav__link">
                            <i class="bx bx-grid-alt nav__icon"></i>
                            <span class="nav__name">Dept Management</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="bx bx-user nav__icon"></i>
                            <span class="nav__name">Team Management</span>
                        </a>
                        <a href="#" class="nav__link">
                            <i class="bx bx-bookmark nav__icon"></i>
                            <span class="nav__name">Staff Management</span>
                        </a>
                    </div>
                </div>

                <a href="login.html" class="nav__link">
                    <i class="bx bx-log-out nav__icon"></i>
                    <span class="nav__name">Đăng xuất</span>
                </a>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <div class="profile-container">
                <div class="row profile">
                    <div class="col-md-3">
                        <div class="profile-sidebar">

                            <!-- SIDEBAR USERPIC -->
                            {{#if user}}
                            <div class="profile-userpic">
                                {{#if user._doc.image}}
                                <span class="avatar">
                                    <img src={{user._doc.image}} class="img-responsive" alt="">
                                    {{#if t}}
                                    <div class="pen-edit">
                                        <a data-toggle="modal" data-target="#editAvatar">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </div>
                                    {{/if}}
                                </span>
                                {{else}}
                                <span class="avatar">
                                    <img src="https://d2huw4hk7boyke.cloudfront.net/images/avatar/thumb-iwEmQvMZPWdM5o3uxoiltPlJH5rmZg3q.png"
                                        class="img-responsive" alt="">
                                    <div class="pen-edit">
                                        <a data-toggle="modal" data-target="#editAvatar">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </div>
                                </span>
                                {{/if}}

                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    {{user._doc.name}}
                                </div>
                                <div class="profile-usertitle-job">

                                    {{user._doc.email}}
                                </div>
                                <div class="profile-usertitle-job">
                                    {{user._doc.class}}
                                </div>
                                <div class="profile-usertitle-job">
                                    {{user._doc.faculty}}
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            {{#if t}}
                            <div class="profile-userbuttons">
                                <button data-image="{{user._doc.image}}" data-name="{{user._doc.name}}"
                                    data-class="{{user._doc.class}}" data-faculty="{{user._doc.faculty}}" type="button"
                                    id="editBtnProfile" class="btn btn-success btn-sm btnEditProfile">Edit</button>
                            </div>
                            {{#if isSV}}
                            {{else}}
                            <div class="profile-userbuttons">
                                <button data-id="{{user._doc._id}}" type="button" id="btnEditPwd"
                                    class="btn btn-success btn-sm ">Change Password</button>
                            </div>
                            {{/if}}
                            {{/if}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-md-9">
                        {{#if t}}

                        <div class="profile-post">
                            <div class="newpst-input">
                                <form method="post">
                                    <textarea name="content" rows="2" placeholder="write something"></textarea>
                                    <div class="attachments">
                                        <ul>
                                            <li>
                                                <i class="fas fa-image">

                                                    <label class="fileContainer">
                                                        <input name="file" type="file">
                                                    </label>
                                                </i>

                                            </li>
                                            <li>
                                                <i name="link" class="fab fa-youtube btnLinkYoutube">

                                                </i>
                                            </li>
                                            <li>
                                                <button>Post</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{/if}}
                        <input type="text" id="page" data-id="{{idClient}}" hidden>
                        <div class="profile-content">
                            <div class="loadMore">
                                {{#if posts}}
                                {{#each posts}}
                                <div class="central-meta item" id="{{this._id}}">
                                    <div class="user-post">
                                        <div class="friend-info">
                                            <figure>
                                                <img src="{{this.user.image}}" alt="">
                                            </figure>
                                            <div class="friend-name">
                                                <div>
                                                    <a><ins>{{this.user.name}}</ins></a>
                                                    <span>{{formatDate this.createAt }}</span>
                                                </div>

                                                {{#equal this.user._id ../currentUser._id}}
                                                <div class="icon-setting">
                                                    <a class="link"><i data-id="{{this._id}}" data-content="{{this.content}}" {{#if
                                                            this.file}} data-file="{{this.file}}" {{/if}} {{#if this.linkYoutube}}
                                                            data-linkyoutube="{{this.linkYoutube}}" {{/if}}
                                                            class="fas fa-wrench btnEditPost"></i></a>
                                                    <a class="link ml-1"><i class="fas fa-trash-alt btnDeletePost"
                                                            data-id="{{this._id}}"></i></a>
                                                </div>

                                                {{/equal}}

                                            </div>

                                            <div class="post-meta">
                                                <div class="description">
                                                    <p>
                                                        {{this.content}}
                                                    </p>
                                                </div>

                                                {{#if this.file}}
                                                <img src="{{this.file}}" alt="">
                                                {{/if}}
                                                {{#if this.linkYoutube}}
                                                <iframe width="100%" height="315"
                                                    src="https://www.youtube.com/embed/{{this.linkYoutube}}"
                                                    title="YouTube video player" frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>

                                                {{/if}}

                                            </div>
                                        </div>
                                        <div class="coment-area">
                                            <ul class="we-comet">
                                                <li>
                                                    <a data-id="{{this._id}}" class="showmore underline btnMoreCmt">more
                                                        comments</a>
                                                </li>
                                                {{#if this.comments}}
                                                {{#each this.comments}}
                                                <li class="cmtItem" style="display: none;" id="{{this._id}}">
                                                    <div class="comet-avatar">
                                                        <img src="{{this.friend._doc.image}}" alt="">
                                                    </div>
                                                    <div class="we-comment">
                                                        <div class="coment-head">
                                                            <h5><a href="/users/profile/{{this.friend._id}}"
                                                                    title="">{{this.friend._doc.name}}</a></h5>
                                                            <span>{{formatDate this.createAt}}</span>
                                                            {{#equal this.friend._doc._id ../../currentUser._id }}
                                                            <i class="fas fa-trash-alt we-reply btnDeleteComment"
                                                                data-id="{{this._id}}" data-idpost="{{../this._id}}"></i>
                                                            {{/equal}}
                                                        </div>
                                                        <p>{{this.body}}</p>
                                                    </div>
                                                </li>
                                                {{/each}}
                                                {{/if}}
                                                <li class="post-comment">
                                                    <div class="comet-avatar">
                                                        <img src="{{../currentUser.image}}" alt="">
                                                    </div>
                                                    <div class="post-comt-box">
                                                        <textarea placeholder="Post your comment"></textarea>
                                                        <i data-id="{{this._id}}"
                                                            class="fas fa-paper-plane btn btn-default btnAddComment"></i>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center>
                <strong>Powered by </strong>
            </center>

            <br>
            <br>
            <!-- link youtube modal -->
            <div class="modal fade" id="linkYoutubeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Link Youtube</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-label-group">
                                <input name="email" type="text" id="inputLink" class="form-control" placeholder="Link Youtube"
                                    autofocus>
                                <label for="inputLink"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- edit profile modal -->
            <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <input type="hidden" id="idUser" name="idUser">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/users/edit" method="post">
                            <div class="modal-body">

                                <div class="form-label-group">
                                    <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" autofocus>
                                    <label for="inputName"></label>
                                </div>
                                <div class="form-label-group">
                                    <input name="userClass" type="text" id="inputClass" class="form-control" placeholder="Class"
                                        autofocus>
                                    <label for="inputClass"></label>
                                </div>
                                <div class="form-label-group">
                                    <input name="faculty" type="text" id="inputFaculty" class="form-control" placeholder="Faculty"
                                        autofocus>
                                    <label for="inputFacuty"></label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btnSaveProfile">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- change password modal -->
            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <input hidden type="text" id="idUserChangePwd" name="idUserChangePwd">
                            <div class="form-label-group">
                                <input name="newPwd" type="password" id="newPwd" class="form-control" placeholder="New password"
                                    autofocus>
                                <label for="newPwd"></label>
                            </div>
                            <div class="form-label-group">
                                <input name="confirmNewPwd" type="password" id="confirmNewPwd" class="form-control"
                                    placeholder="Confirm new password" autofocus>
                                <label for="confirmNewPwd"></label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btnSavePassword">Save</button>
                        </div>

                    </div>

                </div>
            </div>


            <!-- Modal edit avatar-->
            <div class="modal fade" id="editAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <input type="hidden" id="idUser" name="idUser">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Edit avatar</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/users/avatar" method="post" enctype="multipart/form-data">
                            <div class="modal-body">

                                <input name="avatar" type="file" id="avatar">


                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous"
        ></script>

        <script src="../../public/js/main.js"></script>
    </body>
</html>
